.container {
  display: flex;
  justify-content: center;
}

.btnOption {
  background-color: blueviolet;
  margin: 0 10px;
  color: gold;
}
.btnOption:hover {
  background-color: antiquewhite;
  color: black;
  border-color: chocolate;
  transition: cubic-bezier(1, 0, 0, 1);
}
