.descblok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.text {
  font-size: 22px;
  font-weight: 400;
  color: black;
  margin: 0;
}
